* {
    margin: 0;
}

.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.gameboy {
    height: 40em;
    width: 24.4em;
    border-radius: 5% 5% 25% 5%;
    background-color: #DACFCD;
    outline: 0.1em solid #000;
    box-shadow: 1em 1em 0.5px #000;
}

.gameboyTop{
    height: 2em;
    border-bottom: 0.5em solid #413B39;
    display: flex;
    justify-content: center;
}

.gameboyTopLeft {
    height: 100%;
    width: 10%;
    border-radius: 50% 0 0 0;
}

.gameboyTopMid {
    height: 100%;
    width: 80%;
    border-left: 0.5em solid #413B39;
    border-right: 0.5em solid #413B39;
}

.gameboyTopMid img{
    height: 300%;
    transform: translateY(-2em);
}

.gameboyTopRight {
    height: 100%;
    width: 10%;
    border-radius: 0 50% 0 0;
}

.gameboyContent {
    height: calc(100% - 6.5em);
    padding: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.contentScreen {
    padding: 1.5em 3em 1.5em 0;
    border-radius: 5% 5% 25% 5%;
    background-color: #686270;
    outline: 0.1em solid #000;
    display: flex;
    box-shadow: 3px 3px 0.5px #000;
}

.contentScreenLight {
    height: 100%;
    width: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

.powerOff {
    height: 0.5em;
    width: 0.5em;
    background-color: #580000;
    outline: 0.1em solid #000;
    border-radius: 50%;
}

.powerOn {
    height: 0.5em;
    width: 0.5em;
    background-color: #FF0000;
    box-shadow: 0 0 0.35em 0.2em #FF0000;
    border-radius: 50%;
}

.contentScreenLight p {
    margin-bottom: 6em;
    font-size: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}

.contentScreenGreen {
    height: 100%;
    width: 80%;
    background-color: #99AD28;
    outline: 0.1em solid #000;
}

.contentScreenGreen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contentButtons {
    display: flex;
    flex-direction: column;
}

.gameboyLogo {
    width: 100%;
    height: 3em;
}

.gameboyLogo img{
    height: 40%;
}

.buttonsTop {
    width: 100%;
    height: 7em;
    display: flex;
}

.buttonsTopCross {
    height: 100%;
    width: 7em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.buttonsTopCrossBlack {
    background-color: #333133;
    box-shadow: 3px 3px 0.5px #000;
}

.buttonsTopCircles {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

.buttonsTopCirclesLeft {
    transform: translateY(1em) rotate(-30deg);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.buttonsTopCirclesRight {
    transform: translateY(-1em) rotate(-30deg);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.buttonsTopCirclesLeft div,
.buttonsTopCirclesRight div {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: #CA256F;
    outline: 0.1em solid #000;
    box-shadow: 3px 3px 0.5px #000;
}
.buttonsTopCirclesLeft div:active,
.buttonsTopCirclesRight div:active,
.buttonsTopCirclesLeft div:focus,
.buttonsTopCirclesRight div:focus {
    box-shadow: none;
}

.buttonsTopCirclesLeft p,
.buttonsTopCirclesRight p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #686270;
}

.buttonsMid {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.buttonsMidSelect,
.buttonsMidStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.buttonsMidSelect div,
.buttonsMidStart div {
    height: 0.6em;
    width: 2.5em;
    border-radius: 25%;
    background-color: #333133;
    outline: 0.1em solid #000;
    box-shadow: 2px 2px 1px #000;
}
.buttonsMidSelect div:active,
.buttonsMidStart div:active,
.buttonsMidSelect div:focus,
.buttonsMidStart div:focus {
    box-shadow: none;
}

.buttonsMidSelect P,
.buttonsMidStart P {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #686270;
}

.buttonsBottom {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

.buttonsBottomFun {
    height: 100%;
    width: 0.5em;
    transform: rotate(-30deg) translateX(-2em) translateY(-1em);
    background-color: #7B7472;
    border-radius: 25%;
    outline: 0.1em solid #000;
    box-shadow: -2px -2px 1px #000;
}

@media(max-width: 500px) {
    .gameboy {
        border-radius: 0;
    }
}